<!-- 328/DatingOnline/views/home.html-->
<!--
Author: David Pavlenko
Date: 4/24/21
This is the home file for the Dating website that allows a user to go ahead and create a profile
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Formula Dating</title>
</head>
<body>
<div class="container mt-2 mb-4">
    <div class="form-outline">
        <input type="search" id="form1" class="form-control" placeholder="Search Dating Profiles"
               aria-label="Search" />
    </div>
</div>

<div class="container">
    <div class="row border rounded">
        <div class="col">
            <h1 class="text-center pt-5">Formula Dating</h1>

            <div class="container pt-2">Welcome to the web's most innovative dating website service. At <b>Formula Dating</b> we pair you
            to like minded individuals according our proprietary formula. We have had a great success rate with matching couples.
            We match users with their location and common interests in there lives. Find out why we are greatly regarded by the dating
            community and sign up with us!</div>

            <h4 class="text-center pt-4 pb-2">Hear what our users are saying about us.</h4>

            <div class="container border-top border-bottom pt-3 pb-1">
                <p class="font-italic">"I met the love of my life after only a month!" - Andrea</p>
                <p class="font-italic">"It was so easy to set up the profile and start meeting people.
                I didn't realize how man others were looking for love in my area."
                - John Smith</p>
                <p class="font-italic">"Just try it! You'll never be the same!" - Sarah</p>
            </div>

            <div class="text-center pt-4">
                <button class="btn btn-primary btn-lg" type="button">Create a Profile!</button>
            </div>

        </div>
        <div class="col"><img class="w-100 mt-3 mb-3 rounded" src="/328/DatingOnline/images/Couple.jpg" alt="couple image"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>