<!--
Author: David Pavlenko
Date: 5/8/21
This is the interests page that takes in common interests of a person
-->
<include href="views/head.html"></include>

<div class="container rounded border mt-3">
    <h1 class="pt-4 pb-3 border-bottom">Interests</h1>
    <!--personal information form-->
    <form action="#" method="post" class="row">
        <div class="container col-10">
            <h6 class="pt-3">In-door Interests</h6>
            <div class="d-flex justify-content-between">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="in_door[]" id="anime" value="anime">
                    <label class="form-check-label" for="anime">Anime</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="in_door[]" id="netflix" value="netflix">
                    <label class="form-check-label" for="netflix">Netflix</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="in_door[]" id="reading" value="reading">
                    <label class="form-check-label" for="reading">Reading</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="in_door[]" id="chess" value="chess">
                    <label class="form-check-label" for="chess">Chess</label>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="in_door[]" id="dancing" value="dancing">
                    <label class="form-check-label" for="dancing">Dancing</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="in_door[]" id="gaming" value="gaming">
                    <label class="form-check-label" for="gaming">Gaming</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="in_door[]" id="cooking" value="cooking">
                    <label class="form-check-label" for="cooking">Cooking</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="in_door[]" id="uno" value="uno">
                    <label class="form-check-label" for="uno">Uno</label>
                </div>
            </div>
            <div>
                <h6 class="pt-3">Out-door Interests</h6>
                <div class="d-flex justify-content-between">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="out_door[]" id="golf" value="golf">
                        <label class="form-check-label" for="golf">Golf</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="out_door[]" id="hiking" value="hiking">
                        <label class="form-check-label" for="hiking">Hiking</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="out_door[]" id="canoeing" value="canoeing">
                        <label class="form-check-label" for="canoeing">Canoeing</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="out_door[]" id="walking" value="walking">
                        <label class="form-check-label" for="walking">Walking</label>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="out_door[]" id="swiming" value="swiming">
                        <label class="form-check-label" for="swiming">Swiming</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="out_door[]" id="running" value="running">
                        <label class="form-check-label" for="running">Running</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="out_door[]" id="climbing" value="climbing">
                        <label class="form-check-label" for="climbing">Climbing</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name="out_door[]" id="fishing" value="fishing">
                        <label class="form-check-label" for="fishing">Fishing</label>
                    </div>
                </div>
        </div>
        <!--button for next part of the form-->
            <div class="pt-5 mb-3 float-right">
                <input type="submit" class=" btn btn-primary rounded" value="Next >">
            </div>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>