<!-- 328/DatingOnline/views/interests.html-->
<!--
Author: David Pavlenko
Date: 5/8/21
This is the interests page that takes in common interests of a person
-->
<include href="views/head.html"></include>

<div class="container rounded border mt-3">
    <h1 class="pt-4 pb-3 border-bottom">Interests</h1>
    <!--personal information form-->
    <form action="#" method="post" class="row">
        <div class="container col-10">
            <h6 class="pt-3">In-door Interests</h6>
            <div class="container mb-4">
                <div class="row mb-1">
                    <repeat group="{{ @indoor }}" value="{{ @indoor }}">
                        <div class="form-check form-check-inline col-2 ml-5 mt-1">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="{{ @indoor }}"
                                       name="in_door[]"
                                <check if="{{ in_array(@indoor, @interestIndoor) }}">
                                    checked = "checked"
                                </check>
                                >{{ @indoor }}
                            </label>
                        </div>
                    </repeat>
                    <check if="{{ isset(@errors['indoor']) }}">
                        <span class="err">{{ @errors['indoor'] }}</span>
                    </check>
                </div>


            </div>
            <div>
                <h6 class="pt-3">Out-door Interests</h6>
                <div class="container">
                    <div class="row mb-1">
                        <repeat group="{{ @outdoor }}" value="{{ @outdoor }}">
                            <div class="form-check form-check-inline col-2 ml-5 mt-1">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="{{ @outdoor }}"
                                           name="out_door[]"
                                    <check if="{{ in_array(@outdoor, @interestOutdoor) }}">
                                        checked = "checked"
                                    </check>
                                    >{{ @outdoor }}
                                </label>
                            </div>
                        </repeat>
                        <check if="{{ isset(@errors['outdoor']) }}">
                            <span class="err">{{ @errors['outdoor'] }}</span>
                        </check>
                    </div>
                </div>
        </div>
        <!--button for next part of the form-->
            <div class="pt-5 mb-3 float-right">
                <input type="submit" class=" btn btn-primary rounded" value="Next >">
            </div>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>