<include href="views/head.html"></include>

<div class="container rounded border mt-3">
    <h1 class="pt-4 pb-3 border-bottom">Personal Information</h1>
    <!--personal information form-->
    <form action="#" method="post" class="row">
        <div class="col-8">
            <div>
                <label class="h6 pt-2" for="fname">First Name</label>
                <input type="text" class="form-control" name="fname" id="fname">
            </div>
            <div>
                <label class="h6 pt-3" for="lname">Last Name</label>
                <input type="text" class="form-control" name="lname" id="lname">
            </div>
            <div>
                <label class="h6 pt-3" for="age">Age</label>
                <input type="text" class="form-control" name="age" id="age">
            </div>

            <h6 class="pt-3">Gender</h6>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="gender" id="male" value="Male">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="gender" id="female" value="Female">
                <label class="form-check-label" for="female">Female</label>
            </div>

            <div>
                <label class="h6 pt-3" for="phoneNum">Phone Number</label>
                <input type="text" class="form-control" name="phoneNum" id="phoneNum">
            </div>
        </div>

        <!--personal information note-->
        <div class="col-4 pt-4">
            <div id="note" class="container border rounded bg-light">
                <p class="m-2 text-center"><strong>Note:</strong> All information entered is protected by our <a
                        href="#">private policy</a>. Profile Information can only be viewed
                    by others with your permission</p>
            </div>
        </div>

        <!--button for next part of the form-->
        <div class="m-3 ml-auto">
            <input type="submit" class="btn btn-primary rounded" value="Next >">
        </div>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>